<template>
  <div>
    <h1>{{ userInfo.last_name }} {{ userInfo.first_name }} 님 안녕하세요</h1>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(["userInfo"])
  }
};
</script>
